@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "base/fonts/fonts";
@import "base/fontawesome/font-awesome";
html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0px;
}

body {
    @include avenir-font-stack();
    position: relative;
    overflow: auto;
    color: $sc-black;
    font-size: 14px;
    line-height: 1.5;
    background: $page-bg;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &.on-page-editor {
        background: $page-bg-editor !important;
    }
}

a {
    color: $sc-red;
    cursor: pointer;
    font-size: 0.85em;
    transition: color 0.3s ease;
    text-decoration: none;
    &:hover {
        color: $sc-light-blue;
    }
    &:active {
        color: $sc-lighter-blue;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

.button {
    font-size: 18px;
    font-weight: semibold;
    color: white;
    background-color: $sc-red;
    border-radius: 0px;
    transition: 0.3s ease;
    padding: 12px 24px;
    text-decoration: none;
    &:hover {
        background-color: $sc-light-blue;
        color: white;
    }
    &:active {
        background-color: $sc-lighter-blue;
        color: white;
    }
}

.xa-variable {
    border: 0px;
    padding: 1px;
    margin: 0px;
    background-color: #ebebe4;
    color: #545454;
    user-select: none;
    pointer-events: none;
}

//Navigation Bar fix 
#breadcrumbMenuSubcontrol_context_menu * {
    box-sizing: initial;
}
//End navigation bar fix

//Container fix
[class*='container col-'] {
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}
//End container fix