<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!--Github App Token-->
            <setting name="GithubRepo.Token" value="3240334a25bdeede6511832417a1a8318085da50"/>
            <!--Custom App Headervalue-->
            <setting name="GithubRepo.HeaderValue" value="SitecoreHackathonApp2"/>
            <!--Repository UserName-->
            <setting name="GithubRepo.UserName" value="Sitecore-Hackathon"/>
        </settings>
    </sitecore>
</configuration>