<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!--Github App Token-->
            <setting name="GithubRepo.Token" value="96f007f750e538e12d3dc5c6066048f8bc48cb42"/>
            <!--Custom App Headervalue-->
            <setting name="GithubRepo.HeaderValue" value="SitecoreHackathonApp2"/>
            <!--Repository UserName-->
            <setting name="GithubRepo.UserName" value="Sitecore-Hackathon"/>
        </settings>
    </sitecore>
</configuration>