<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!--Github App Token-->
            <setting name="GithubRepo.Token" value="47b4cbcbd3c279beeb24434dde5ffd7c0a6909d3"/>
            <!--Custom App Headervalue-->
            <setting name="GithubRepo.HeaderValue" value="SitecoreHackathonApp2"/>
            <!--Repository UserName-->
            <setting name="GithubRepo.UserName" value="Sitecore-Hackathon"/>
        </settings>
    </sitecore>
</configuration>